/** @format */

@media (min-width: 650px) {
  header {
    margin: 20px 50px;
  }

  .welcome{
    background-position: initial;
    min-height: 80vh;
  }

  .welcome__content{
    margin: 50px;
  }

  .welcome__content h1{
    font-size: 2em;
  }

  .service {
    background-color: rgba(226, 222, 222, 0.281);
    display: flex;
    margin: 20px auto;
    padding: 20px;
    max-width: 100%;
  }

  .service > * {
    flex: 1;
    text-align: center;
    font-size: 0.9em;
    padding: 0px 25px;
    max-width: 500px;
  }

  .review {
    flex-direction: row;
  }

  .review__image {
    margin: 0px;
  }

  .review__customer h2 {
    text-align: left;
  }

  .review__customer {
    max-width: 500px;
    margin: 0px 0px 0px 50px;
  }

  .popular-products {
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 20px;
  }

  .shop-section{
    margin: 0 auto;
  }

  .product {
    margin-top: 40px;
  }

  /* Product */
  .main-wrapper{
    flex-direction: row;
    margin-top: 50px;
  }

  .product__links {
    margin-left: 40px;
  }

  footer {
    padding: 10px 50px;
  }

  /* Shop */
  .product__content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
      "categories filter"
      "categories products";
    margin: 20px 60px 50px 20px;
    gap: 30px;
  }

  .shopping-bag__main {
    margin: 20px 50px;
  }

  .product-filter{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 20px 0px 5px 0px;
  }

  .product__Number {
    margin: 0px;
  }

  .product-filter form{
    display: block;
  }

  /* Contact us */
  .contact__main {
    display: flex;
    margin: 80px auto;
    max-width: 1300px;
    padding: 0px 50px;
  }

  .contact__form {
    margin: 0px;
    max-width: 500px;
  }

  /* Favorites */
  .favorites {
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 100px;
    min-height: 75vh;
  }

  .favorite-products {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Checkout payment */
  .payment-status {
    display: flex;
    justify-content: center;
    margin: 60px 0px;
  }

  /* Checkout success */
  .success__main {
    max-width: 70vw;
  }

  /* Product */
  .product__links {
    font-size: 1em;
  }
}

@media (min-width: 800px) {

  .product-added {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 20px 0px;
  }

  /* Checkout success */
  .success__main {
    max-width: 60vw;
  }

  /* Product*/
  .main-wrapper{
    max-width: 1000px;
  }

  .product-details__image{
    height: 400px;
    width: 300px;
  }
}

@media (min-width: 1000px) {

  /* Checkout success */
  .success__main {
    max-width: 40vw;
  }

  /* Product */
  .seasonal-autumn{
    max-width: 400px;
  }
}

@media (min-width: 1100px) {
  /* Shopping-bag */
  .shopping-bag__main {
    margin: 100px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    margin: 0px 70px;
  }

  .icon-wrapper {
    margin: 0px 0px 0px 100px;
  }

  nav {
    display: flex;
    position: static;
    align-items: center;
    min-width: 700px;
  }

  nav li {
    display: inline-block;
  }

  #hamburger-menu:checked ~ nav {
    display: inline-flex;
  }

  .search-wrapper {
    position: relative;
    max-width: 60px;
    display: inline-block;
    margin: 50px;
  }

  .search-box {
    border-radius: 10px;
    border: 2px solid #d3d2d2;
    margin: 0px;
    padding: 0px;
  }

  .search-icon {
    position: absolute;
    left: 130px;
    top: 5px;
  }

  #hamburger-icon {
    display: none;
  }

  #hamburger-menu {
    display: none;
  }

  .explore {
    grid-template-columns: repeat(2, 1fr);
    margin: 50px auto;
    padding: 30px;
  }

  .popular-products {
    grid-template-columns: repeat(4, 1fr);
  }

  /* Favorites */
  .favorites {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Login */
  .login__form > * {
    max-width: 20vw;
  }

  /* Checkout payment */
  .payment-status {
    margin: 60px auto;
    max-width: 90vw;
  }

  /* Product */
  .product__img,
  .seasonal-autumn {
    display: flex;
    flex: 1;
  }
}

@media (min-width: 1300px) {
  .welcome__content {
    padding-left: 200px;
  }

  .welcome__img {
    width: 460px;
    height: 500px;
    right: 10vw;
  }

  .popular-products {
    margin: 50px auto;
  }

  .shop-section{
    margin: 0 auto;
  }

  /* Login  */
  .login__main {
    max-width: 60vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 70px auto;
    box-shadow: 2px 2px 2px 2px rgb(185, 177, 177);
  }

  .login__info {
    display: block;
    background-image: url("../images/login-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    min-width: 100%;
    position: relative;
  }

  .login__text {
    max-width: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  /* Product */
  .seasonal-autumn {
    margin: 0px 100px;
  }
}

@media (min-width: 1600px) {
  /* Shopping-bag*/
  .product__wrapper {
    display: flex;
  }

  .product__info {
    max-width: 40vw;
    margin-right: 5vw;
  }
  .summmary__section {
    margin-top: 0px;
    max-width: 20vw;
  }

  /* Checkout success */
  .success__main {
    max-width: 30vw;
  }
}

