/** @format */
.seasonal-autumn__main {
  margin: 20px 0px 50px 0px;
}

.product__links {
  font-size: 0.9em;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 65vh;
}

.product__img {
  max-width: 300px;
  margin: 40px auto;
}

.seasonal-autumn {
  max-width: 300px;
  display: flex;
  margin: 0 auto;
}

.seasonal-autumn > * {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.circles {
  display: flex;
  margin-bottom: 10px;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

select {
  padding: 5px;
  margin: 20px 0px 10px 0px;
  border-radius: 20px;
  border: 1px solid black;
  font-weight: bold;
  text-align-last: center;
}

.product__cta {
  display: flex;
}

.product__cta > * {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.product-details__image {
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 250px;
}

.cart-wrapper {
  position: fixed;
  right: 0;
  top: 200px;
  background-color: white;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(128, 128, 128, 0.418);
  box-shadow: 1px 1px 3px 1px rgb(226, 225, 225);
}

.cart {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
}

.cart-description {
  margin-left: 20px;
}

.cart-description_items {
  font-weight: normal;
}

.fa-times {
  margin-top: 20px;
  margin-left: 10px;
}

.fa-times:hover {
  cursor: pointer;
}

.cart-image {
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 100px;
  margin-top: 10px;
}

.productSize__style {
  display: none;
  color: red;
  margin-bottom: 10px;
}

/* discount */
.detail-price {
  font-size: 16px;
}
