

.about__section {
    text-align: center;
    max-width: 900px;
    margin: 90px auto;
    padding: 0px 30px;
}

.about__section p {
    margin: 40px;
    text-align: left;
}

.about__background {
    background-image: url("../images/about-img.jpg");
    background-size: cover;
    background-position-y: -220px;
    background-repeat: no-repeat;
    min-height: 50vh;
}