

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../images/plus-solid.svg");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    background-size: 10%;
    padding: 5px 30px;
    border: 1px solid #d3d2d2;
}

.shop-women__welcome {
    

}
/* Links */
.cta-green {
    background-color: #145c75;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: white;
}